*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
    background-color: rebeccapurple;
}
.container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    
}
.container h1 {
    font-size: 40px;
    font-weight: 700;
    color: #fff; 
    margin-bottom: 0.35rem;
}

.container h2 {
    font-size: 28px;
    margin-bottom: 0.35rem;
}
.card {
    border: 1px solid #c9c9c9;
    width: 800px;
    border-radius: 7px;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 15%);
}
.card img {
    height: 430px;
    width: 760px;
    margin: 20px;
    border-radius: 7px;
}
.card h3 {
    color: rebeccapurple;
    font-size: 20px;
    margin: 0 0 10px 20px;
}
.card p {
    color: #757575;
    line-height: 1.5;
    margin-bottom: 0.35rem;
    margin-left: 20px;
    font-size: 18px;
}
.card em {
    padding: 0.25em;
    background-color: #eddbff;
    border-radius: 4px;
}
.button {
    text-decoration: none;
    background-color: rebeccapurple;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 4px;
    display: inline-block;
    margin: 20px;
}
footer {
    border-top: 2px solid rebeccapurple;
}
footer p {
    margin: 0 0 0.35rem;
}